/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
/* Header Container */
.header-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* Header (Left Side) */
.header {
  width: 250px; /* Fixed width for the header */
  background-color: #1f1f1f; /* Dark background */
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content Display (Right Side) */
.content-display {
  flex: 1; /* Take remaining space */
  padding: 20px;
  background-color: #f8f9fa; /* Light background */
  overflow-y: auto; /* Scrollable content */
}

/* Hero Section */
.hero {
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #1f1f1f; /* Dark background */
  color: #fff;
  margin-bottom: 0%;
}